/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#back:hover {
	-fx-opacity: 0.7;
}

#headBackground{
	-fx-background-image: url("/ru/res/image/headBG.jpg");
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat ;
}

#footerBackground, #topELC{
	-fx-background-image: url("/ru/res/image/headBG.jpg");
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat ;
}

#exerciseName {
	-fx-font-size: 14;
	-fx-font-family: "Segoe UI";
}
#buttonStart {
	
}

#settingButton:hover {
	/*-fx-translate-y: 0.5;
	-fx-translate-x: 0.5;*/ 
	-fx-opacity: 0.7;
}

#name:hover {	
	-fx-opacity: 0.7;
}