/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#close_button:hover{
	-fx-opacity: 0.7;
}

#aP{
	-fx-border-color: black ;
	-fx-border-width: 0.1px;
	-fx-border-style: solid ;	
}